.header {
  background-color: rgb(34, 46, 70);
  color: white;
  text-align: center;
  box-shadow: 0 4px 2px -2px gray;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.header a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px;
}

.header a:hover {
  color: rgb(199, 195, 195);
}