.header {
  /* background-color: #222e46; */
  /* color: white; */
  text-align: center;
  box-shadow: 0 2px 5px -2px gray;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.header a{
  /* color: white; */
  text-decoration: none;
  transition: 0.3s;
  padding: 10px;
}

.header a:hover {
  color: #c7c3c3;
}