.item_grid{
  background-color: rgb(199, 199, 203);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;  
}

.column1{
  background-color: rgb(207, 220, 109);
  
}
.column2{
  background-color: rgb(67, 221, 90);
  
}
.column3{
  background-color: rgb(49, 49, 190);

}
.column4{
  background-color: rgb(49, 49, 190);

}

.column5{
  background-color: rgb(207, 220, 109);

}
.column6{
  background-color: rgb(67, 221, 90);

}