.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(35, 40, 45);
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 2px -2px gray;
  padding: 20px;
}

main {
  flex: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(35, 40, 45);
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 -4px 2px -2px gray;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}

a{
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 0 6%;
}

a:hover {
  color: rgb(199, 195, 195);
}

nav{
  display: flex;
  justify-content: space-evenly;
}

.item_grid{
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content:center;
  align-items: center;
  row-gap: 20px;
}

.cartClass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 100vw;
}
