.app-footer{
  height: 15%;
  background-color: rgb(130, 188, 253);
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 10px; */
}

.footer-info{
  margin-top: 20px;
}

.contact-info{
  margin-top: 20px;
}